<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inverse Kinematics Guide</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Inverse Kinematics Simulator</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">2DOF</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dof3">3DOF</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guide">Guide</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container py-3">
        <div class="row">
            <div class="col-12">
                <h1>Guide</h1>
                <p> This inverse kinematics tool has applications in robotic arms, 2D/3D animation and rigging, and mechanical linkage systems. </p>
                <div id = "divider"></div>
                
                <!-- 2DOF -->
                <h2><strong>2DOF Inverse Kinematics Tool</strong></h2>
                <p>The 2DOF (Degrees of Freedom) inverse kinematics tool allows you to manipulate a two-jointed arm in a 2D plane.</p>
                <h3>How to Use the 2DOF Tool</h3>
                <ol>
                    <li>Navigate to the <a href="/">2DOF page</a>.</li>
                    <li>Adjust sliders to set the lengths of the two arm segments.</li>
                    <li>Set the X and Y Coordinates using the sliders.</li>
                </ol>
                <h3> How it works</h3>
                <p>The tool uses trigonometric inverse kinematic calculations </a> to calculate the angles between each of the joints. To plot the points on the graph, rather than using the forward kinematics with the inverse kinematics inputs, the plot is directly created by HTML5 Canvas, an element to generate graphics directly in javascript. Calculations are shown below: </p>
                <h3>Use Cases</h3>
                <p>The 2DOF tool is useful in applications such as in robotic arms, animation and rigging, and linkage systems where motion is confined to a single plane. Examples include:</p>
                <ul>
                    <li>Robotic arm used in assembly lines.</li>
                    <li>Animation of characters in 2D games.</li>
                    <li>Mechanical linkages in planar mechanisms.</li>
                </ul>
                <img src="/static/images/2dcalcs.png" alt="2D Inverse Kinematics Calculations" style="max-width: 100%; height: auto;">
                <div id = "divider"></div>

                <!-- 3DOF -->
                <h2><strong>3DOF Inverse Kinematics Tool</strong></h2>
                <p>The 3DOF inverse kinematics tool allows you to control a three-jointed arm/leg in a 3D space. This is just one specific type of 3 degree of freedom system, where there is one base joint rotating about the y axis, and the other 2 orthogonal along another axis (diagram below). This type of 3 degree of freedom joint configuration is typically seen in robot dogs. </p>
                <h3>How to Use the 3DOF Tool</h3>
                <ol>
                    <li>Navigate to the <a href="/dof3">3DOF page</a>.</li>
                    <li>Adjust the sliders to set the lengths of the three arm segments.</li>
                    <li>Set the X, Y, Z Coordinates using the sliders. </li>
                </ol>
                <h3>How it works</h3>
                <p>Similar to the 2 degree of freedom version, this tool can convert XYZ coordinates to angles between each of the joints. However, instead of using HTML5 Canvas for the diagram, it plots the points using the library Plotly. To arrive at each of the point's coordinates, it performs a set of forward kinematic calculations using the angles it derived.</p>

                <h3>Use Cases</h3>
                <p>The 3DOF tool is useful in applications like such as in robotic arms, animation and rigging, and linkage systems where movement is required in three dimensions. Examples include:</p>
                <ul>
                    <li>Leg system of a Robot Dog.</li>
                    <li>Animation of 3D characters in games or simulations.</li>
                    <li>Design of mechanical linkages in 3D.</li>
                </ul>

                <img src="/static/images/3dofdemo.png" alt="3DOF Diagram" style="max-width: 100%; height: auto;">
                <p style = "font-size: 1rem; color:gray"> Right image: Wenkai Sun | <a href="https://www.researchgate.net/figure/Billy-robot-dog-simplified-structural-model-The-model-uses-the-D-H-method-to-determine_fig1_358926865">Balance Control of a Quadruped Robot Based on Foot Fall Adjustment</a> - Creative Common License 4.0 </p>
            </ul>
                
            </div>
        </div>
    </div>
</body>
</html>