<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>3D Inverse Kinematics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!-- Add Plotly library -->
</head>
<body>
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-6">
                <h1>Inverse Kinematics - 3DOF</h1>
                <form id="parameter-form" class="mt-5">
                    <div class="form-group">
                        <label for="x">X-coordinate:</label>
                        <input type="number" id="x" class="form-control" name="x" step="any" required>
                    </div>
                    <div class="form-group">
                        <label for="y">Y-coordinate:</label>
                        <input type="number" id="y" class="form-control" name="y" step="any" required>
                    </div>
                    <div class="form-group">
                        <label for="z">Z-coordinate:</label>
                        <input type="number" id="z" class="form-control" name="z" step="any" required>
                    </div>
                    <div class="form-group">
                        <label for="len1">Length 1:</label>
                        <input type="number" id="len1" class="form-control" name="len1" step="any" required>
                    </div>
                    <div class="form-group">
                        <label for="len2">Length 2:</label>
                        <input type="number" id="len2" class="form-control" name="len2" step="any" required>
                    </div>
                    <div class="form-group">
                        <label for="len3">Length 3:</label>
                        <input type="number" id="len3" class="form-control" name="len3" step="any" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <div id="result" class="alert alert-info mt-3">
                    <!-- angle results or error message will be displayed here -->
                </div>
            </div>
            <div class="col-lg-6">
                <div id="myDiv" class="mt-5" style="width: 100%; height: 100%;"></div> <!-- Div for Plotly -->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='3dscript.js') }}"></script>
</body>
</html>