<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2D Inverse Kinematics</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Inverse Kinematics Simulator</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">2DOF</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dof3">3DOF</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/guide">Guide</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-6">
                <h1>Inverse Kinematics - 2DOF</h1>
                <form id="parameter-form" class="mt-5">
                    <div class="form-group">
                        <label for="x">X-coordinate:</label>
                        <input type="range" id="x" class="form-control-range" name="x" min="-100" max="100" step="1" value="50" required>
                        <span id="x-value"></span>
                    </div>
                    <div class="form-group">
                        <label for="y">Y-coordinate:</label>
                        <input type="range" id="y" class="form-control-range" name="y" min="-100" max="100" step="1" value="50" required>
                        <span id="y-value"></span>
                    </div>
                    <div class="form-group">
                        <label for="len1">Length 1:</label>
                        <input type="range" id="len1" class="form-control-range" name="len1" min="0" max="100" step="1" required>
                        <span id="len1-value"></span>
                    </div>
                    <div class="form-group">
                        <label for="len2">Length 2:</label>
                        <input type="range" id="len2" class="form-control-range" name="len2" min="0" max="100" step="1" required>
                        <span id="len2-value"></span>
                    </div>
                </form>
                <div id="result" class="alert">
                    <!-- angle results or error message will be displayed here -->
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center">
                <canvas id="animation-canvas" class="mt-5" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <div class="container py-3" style = "margin-top: 0.8rem;">
        <!-- 2DOF -->
        <h2><strong>2DOF Inverse Kinematics Tool</strong></h2>
        <p>The 2DOF (Degrees of Freedom) inverse kinematics tool allows you to manipulate a two-jointed arm in a 2D plane.</p>
        <h3>How to Use the 2DOF Tool</h3>
        <ol>
            <li>Adjust sliders to set the lengths of the two arm segments.</li>
            <li>Set the X and Y Coordinates using the sliders.</li>
            <li>Green Section will print out inputs and angle results. The section will turn red and display an error given an invalid input. </li>
        </ol>
        <h3> How it works</h3>
        <p>The tool uses trigonometric inverse kinematic calculations </a> to calculate the angles between each of the joints. To plot the points on the graph, rather than using the forward kinematics with the inverse kinematics inputs, the plot is directly created by HTML5 Canvas, an element to generate graphics directly in javascript. Calculations are shown below: </p>
        <h3>Use Cases</h3>
        <p>The 2DOF tool is useful in applications such as in robotic arms, animation and rigging, and linkage systems where motion is confined to a single plane. Examples include:</p>
        <ul>
            <li>Robotic arm used in assembly lines.</li>
            <li>Animation of characters in 2D games.</li>
            <li>Mechanical linkages in planar mechanisms.</li>
        </ul>
        <img src="/static/images/2dcalcs.png" alt="2D Inverse Kinematics Calculations" style="max-width: 100%; height: auto;">
        <div id = "divider"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='2dscript.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#parameter-form input').on('input', function() {
                updateGraph();
            });
            updateGraph();
        });
    </script>
</body>
</html>